
.portafoloio__badge {
    margin: 0 .05rem;
    background-color: blue;
    border-radius: 10px;
    padding: .1rem .5rem;
    font-size: var(--font-size-small);
    color: var(--color-white);
}

/* JAVA */

.java {
    background-color: #5382a1;
}

.android {
    background-color: #78C257;
}

.sqlite {
    background-color: #1487bd;
}

.flutter {
    background-color: #4cbef5;
}

.dart {
    background-color: #04599b;
}

.mysql {
    background-color: #F29111;
}

.firebase {
    background-color: #FFCB2B;
}

.html {
    background-color: #e34c26;
}

.css {
    background-color: #2965f1;
}

.php {
    background-color: #8993be;
}

.javascript{
    background-color: #f0db4f;
}